* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 20px;
	font-family: perpetua, sans-serif;
}

a {
	text-decoration: none;
}

.container {
	min-height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 100px 40px;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;	
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing .05rem;
}
/* hero section */

#hero {
	background-image: url(./img/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	animation: fadein 8s;
}
#hero::after {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: black;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 5rem;
	position: relative;
	color: transparent;
	animation: text_reveal 1s ease forwards;
	animation-delay: 1s;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}

#hero .tulsa {
	height: 180px;
	width: 180px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}

@keyframes text_reveal {
	100% {
		color: black;
	}
}
@keyframes fadein {
            from { opacity: 0;}
            80%{opacity: 1;}
        }

/* experience section */
#services {}
#services .services{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .section-title{
	font-size: 4rem;
	font-weight: 300;
	color: #333333;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
	
#services .service-top p{
	font-size: 1.4rem;
	margian: 5px;
	line-height: 1.8rem;
	font-weight: 300;
	letter-spacing: .05rem;
	margin-bottom: 15px;
}
#services .service-bottom{

	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

#services .service-item{
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/checkout.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-bottom .icon img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#services .service-item h2{
	fonst-size: 2rem;
	color: white;
	margin-bottom: 10px;
}
#services .service-item p {
	color: white;
	text-align: left;
	font-size: 1.2rem;
	line-height: 1.5rem;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "PROJECTS";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  animation: fadein 2s;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

104
